*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 700;
}
.admin-data{
    border-radius: 20px;
    border: 2px solid #dfe6e9;
    box-shadow: 4px 5px 6px rgba(0,0,0,0.3);
    padding: 6px;
}
.admin-data:hover{
    background-color: #636e72;
    box-shadow: 4px 5px 6px rgba(0,0,0,0.3);
    padding: 6px;
}
button{
    outline: none;
    border: none;
}
.btns{
    text-align: center;
    padding: 7px 0 7px 0;
    width: 75%;
    background-color: #b2bec3;
    color: white;
    border-radius: 20px;
}
.btns:hover{
    border-radius: 20px;
    border: 2px solid #b2bec3;
    background-color: #636e72;
    color: white;
}